<p class="lead">
  <!-- <%= I18n.translate "hello" %> -->
  <%= t "hello" %>
  <%= link_to "Dodaj własny wpis już teraz.", new_post_path %>
</p>

<div id="content-placeholder">
  <%= link_to "Niespodzianka", surprise_posts_path, class: "btn btn-info", remote: true %>
</div>

<% @posts.each do |post| %>
  <blockquote>
    <p><%= post.body %></p>
    <footer><cite><%= post.author %></cite></footer>
  </blockquote>
<% end %>

<div class="row">
  <div class="col-md-12">

  </div>
</div>

<!-- <div class="dropdown"> -->
<div class="btn-group">
  <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> -->
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Wybierz język <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">PL</a></li>
    <li><a href="#">EN</a></li>
  </ul>
</div>
