<!-- <h2>Dodwanie nowego wpisu</h2>

<div id="form-container">
  <%= form_for @post, remote: true do |f| %>
    <div class="form-group">
      <%= f.label :author, "Autor" %>
      <%= f.text_field :author, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :body, "Treść" %>
      <%= f.text_field :body, class: "form-control" %>
    </div>
    <%= f.submit "Dodaj wpis", class: "btn btn-default" %>
  <% end %>
</div> -->


<%= simple_form_for @post do |f| %>
  <%= f.input :author, hint: "Podaj swoje imię!" %>
  <%= f.input :body, label: "Treść", hint: "Jakaś podpowiedź" %>


  <%= f.submit class: "btn btn-default" %>
<% end %>

<!-- <%= f.associatio :category, prompt: " wybierz " %> -->
<!-- <%= f.associatio :tags, as: :check_boxes %> -->
